@tailwind base;
*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

@layer components {
  .hero {
    @apply bg-white !important; /* Đặt màu nền trắng với mức độ ưu tiên cao */
  }

  .chatbot-hero-content {
    @apply max-w-[55%] flex-1 ml-20 mt-10; /* 5 đơn vị = khoảng 20px */
  }

  .chatbot-hero-robot {
    @apply flex flex-col justify-start items-start max-w-[40%] flex-1;
  }

  .chatbot-hero-content h1 {
    @apply text-5xl mb-2 leading-tight; /* `leading-tight` điều chỉnh giãn dòng */
}


  .get-started-btn {
    @apply px-8 py-4 mt-2; /* Tăng padding ngang (px) và padding dọc (py) */
    font-size: 20px; /* Điều chỉnh font-size nếu cần */
  }
  

}


@tailwind components;
@tailwind utilities;
